*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #bbc6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote-box{
    background: #fff;
    width: 700px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    background: #6c63ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

button:hover{
    background: #5548d9;
}


blockquote{
    font-size: 20px;
    margin: 20px 0;
}

span{
    display: block;
    margin-top: 10px;
    color: #555;
}